div#bodyvideo {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#videoPlayer {
    display: flex;
    flex-direction: column;
}

#controles {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

button, input {
    margin: 5px;
    background-color: white;
    border-radius: 30%;
    
}
label{
    padding: 0.5rem;
    font-weight: bold;
}