* {
  box-sizing: border-box;
}

div#contenido{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
div#contenido>input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 2rem 0 1rem 1rem;
    color: black;
}
div#contenido>input::placeholder {
    color: black;
}

div#contenido>p>a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    padding-left: 1rem;
}
div#contenido>button{
    color:burlywood;
    background-color: rgb(54,54,54);
    border-radius:2rem;
    padding: 1rem;
    max-width: 10rem;
}

