*{
  box-sizing: border-box;
}
.contenido {
  display: flex;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
}

body {
  padding: 2em;
}

.contenido>* {
  padding: 10px;
}

.cabecera {
  background: tomato;
}

.pie {
  background: lightgreen;
}

.articuloP {
  text-align: left;
  background: deepskyblue;
}

.aside1 {
  background: gold;
}

.aside2 {
  background: hotpink;
}

@media (min-width: 800px) {
  .contenido{
    flex-direction: row;
    flex-wrap: wrap;
  }
  aside {
    flex-basis: 50%;
   
  }
  .pie,.cabecera{
    flex-basis: 100%;
  }


}

@media (min-width: 1024px) {

   .articuloP {
    order:3;
    flex-basis: 50%;
  }

  aside {
    flex-basis: 25%;
  }

  .cabecera{
    order:1;
    flex-basis: 100%;
  }

  .aside1 {
    order: 2;
  }
  .aside2 {
    order: 4;
  }

  .pie {
    order: 5;
  }

}