* {
    box-sizing: border-box;
}

body form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 25em;
}

#genero{
    margin-left: 0.5em;
}

#genero label{
    font-weight: bold;
    font-size: 15px;
}

#genero input{
    font-size: 10px;
    height: 12px;
    width: 12px;
}
body form a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 1em;
    padding-left: 8px;
}

body form input,select,option {
    border: none;
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    padding: 0 0 10px 15px;
}


body form button {
    margin-top: 1em;
    color: burlywood;
    background-color: rgb(54, 54, 54);
    border-radius: 20em;
    height: 4em;
    width: 12em;
    margin-left: -10px;
}

#nacimiento{
    font-size: 11px;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 1em;
}

#texto{
    font-size: 13px;
}

#suscribirse{
    margin-top: 1em;
    border-left: 2px solid lightgray;
    padding-left: 10px;
    margin-left: -15px;
}

#selectNaci{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

#selectNaci select{
    width: 28%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: white;
}

#provincia,#pais{
    background-color: white;
    color: gray;
}

#info{

    margin: 2em 0 1em 0;
    margin-left: 0.7em;
    color: rgb(68, 68, 68);
    font-size: 12px;
}

