* {
    box-sizing: border-box;
}

/* Estilo para el menú de móvil */
.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
}
.navigation li {
   
    text-align: center;
    border-top: 1px solid lightblue;
    
}
.navigation a {
    display: flex;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    justify-content: center;
}
/* Estilo para el menú de tablet */
@media (min-width: 800px) {
    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Estilo para el menú de ordenador */
@media (min-width: 1000px) {
    .navigation {
        flex-direction: row;
        justify-content: flex-end;
        
    }
    .navigation a {

        display: block;
    }
    .navigation li {

        width: 7%;
    }
    
    
}