* {
    box-sizing: border-box;
}

body {
    background-color: #c8c8c8;
}

#contenido {
    background-color: #d2d2d2;
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
}

article, nav, aside, footer , header {
    margin: 3px;
}

nav, aside, footer, header {
    padding: 1rem;
}

header {
    background-color: #02a2ac;;
}

article {
    height: 290px;
    background-color: #7e007c;
    padding-top: 20px;
}

nav {
    order: -1;
    background-color: #fca200;
}

aside {
    background-color: #acd8e3;
}

footer {
    background-color: #35a6dc;
}


@media (min-width:768px){
    article{
        flex-grow: 4;
    }
    main {
        flex-direction: row;
    }

    aside,nav {
        flex-grow: 1;
    }
}