* {
    box-sizing: border-box;
}

body form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 20%;
}

body form a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 1em;
    padding-left: 8px;
}

body form input,select,option {
    border: none;
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    padding: 0 0 10px 15px;
}

body form input::placeholder {
    text-shadow: none; /* Esto cambia el color del placeholder a negro */
    
}

body form button {
    margin-top: 1em;
    color: burlywood;
    background-color: rgb(54, 54, 54);
    border-radius: 20em;
    height: 4em;
    width: 12em;
}

#sr,#sra{
    display: block;
    flex-direction: row;
    border: 1px solid black;
}
#lsr,#lsra{
    font-weight: bold;
    font-size: 12px;
    margin-left: 5%;
    border: 1px solid black;
    width: 10%;
}

/* Estilo para los elementos select */
select {
    width: 10%; /* Establece un ancho adecuado según el contenido */
    display: flex;
    flex-direction: row;
  }
  
  /* Estilo para los elementos option */
option {
    display: flex;
    flex-direction: row;
  }
  