* {
    box-sizing: border-box;
    margin: 0;
}


div#contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*CABECERA*/
div#contenido>header#cabecera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#contenido>header#cabecera>nav#cabecera-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


div#contenido>header#cabecera>nav#cabecera-principal>h1#titulo{
color: red;
}
/*FIN-CABECERA*/

/*CUERPO*/
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main>section#cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpo>h1{
    text-align: left;
    padding: 1rem;
}

main>section#cuerpo>form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpo>form>*{
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

main>section#cuerpo>form>input{
    border:1px solid grey;
}


main>section#cuerpo>form>p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding-left: 0;
}

main>section#cuerpo>form>p:nth-child(3){
    color: grey;
}

main>section#cuerpo>form>button#iniciar-sesion{
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}


main>section#cuerpo>form>button#crear-cuenta{
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}


main>section#cuerpo>form>a{
    color: black;
    text-align: center;
}
/*FIN-CUERPO*/