* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div#contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*CABECERA*/
div#contenido>header#cabecera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#contenido>header#cabecera>nav#cabecera-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


div#contenido>header#cabecera>nav#cabecera-principal>h1#titulo{
color: red;
}
/*FIN-CABECERA*/

/*CUERPO*/
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main>section#cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpo>h1{
    text-align: left;
    padding: 1rem;
}

main>section#cuerpo>form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpo>form>*{
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

main>section#cuerpo>form>input{
    border:1px solid grey;
}



main>section#cuerpo>form>div#ntelefono{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

main>section#cuerpo>form>div#ntelefono>*{
    padding: 1rem;
 
}

main>section#cuerpo>form>div#ntelefono>select{
    background-color: white;
    border: 1px solid black;
 
}



main>section#cuerpo>form>div#promociones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 12px;
}


main>section#cuerpo>form>div#promociones>label{
    padding-left: 0.5rem;
}



main>section#cuerpo>form>button#crear-cuenta{
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}


main>section#cuerpo>form>label#label1{
    color: black;
    padding-left: 0;
    font-size: 14px;
}
main>section#cuerpo>form>label>a{
    font-weight: bold;
    border-bottom: 1px solid black;
}

main>section#cuerpo>form>label#label2{
    font-size: 12px;
    padding-top: 0;
    padding-left: 0;
}
/*FIN-CUERPO*/