* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

div#contenido {
    display: flex;
    flex-direction: column;
}


/*Lo que hace el :not() es que no se aplique al selector que tengo entre parentesis*/
div#contenido>main img:not(img.check):not(div.opinion img) {
    width: 100%;
    height: auto;
}


a {
    color: black;
    text-decoration: none;
}
.oculto{
    display: none;
}

/*EMPIEZO MENU*/


#menuEscritorio {
    display: none;
}

div#contenido>header#cabecera>nav#cabecera-principal>nav#buscadorE {
    display: none;
    padding: 0 1rem 0 1rem;
}

div#contenido>header#cabecera>nav#cabecera-principal>nav#buscadorE>img#lupa2 {
    position: absolute;
    left: 3rem;
    top: 2.5rem;

}

div#contenido>header#cabecera>nav#cabecera-principal>nav#buscadorE>input {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 100%;
    padding: 0.5rem 3rem 0.5rem 0;
}

#menuEscritorio>a>p {
    font-weight: bold;
}





div#menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
}

div#menu>header#cabeceramenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#menu>header#cabeceramenu>div#menuEscritorio {
    display: none;
}



div#menu>header#cabeceramenu>nav#cabecera-principalmenu {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;
}

div#menu>header#cabeceramenu>nav#cabecera-principalmenu>div#logo-compra {
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    border: 1px solid grey;
    border-right: none;
    align-items: center;
    justify-content: space-evenly;

}


div#menu>header#cabeceramenu>nav#cabecera-principalmenu>div#home {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    border: 1px solid grey;
    padding: 0.25rem;
    justify-content: center;
    border-right: none;
}


div#menu>header#cabeceramenu>nav#cabecera-principalmenu>div#home>a>img {
    width: 30px;
    margin: 0.31rem;

}

div#menu>header#cabeceramenu>nav#cabecera-principalmenu>div#cerrar {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    border: 1px solid grey;
    padding: 0.25rem;
    justify-content: center;
}


div#menu>header#cabeceramenu>nav#cabecera-principalmenu>div#cerrar>img {
    transform: rotate(-45deg);
    width: 44px;
}




div#menu>div#cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#menu>div#cuerpo>div#secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#menu>div#cuerpo>div#secciones>* {
    flex-basis: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2rem;
    font-weight: bold;
    font-size: 20px;
}

/*FIN MENU*/




/*CABECERAESTA*/
div#contenido>header#cabecera {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#contenido>header#cabecera>nav#cabecera-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

div#contenido>header#cabecera>nav#cabecera-principal>a {
    text-decoration: none;
}

div#contenido>header#cabecera>nav#cabecera-principal>a>h1#titulo {
    color: red;
}

div#contenido>header#cabecera>nav#buscador {
    display: flex;
    padding: 0 1rem 0 1rem;
}

div#contenido>header#cabecera>nav#buscador>img#lupa {
    position: absolute;
    left: 2rem;
    top: 5.4rem;

}

div#contenido>header#cabecera>nav#buscador>input {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

div#contenido>header#cabecera>nav#buscador {
    display: flex;
    padding: 0 1rem 0 1rem;
}

div#contenido>header#cabecera>nav#buscador>img#lupa {
    position: absolute;
    left: 2rem;
    top: 5.4rem;

}

div#contenido>header#cabecera>nav#buscador>input {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

/*CABECERA*/





/*CUERPO*/

div#contenido>main {
    display: flex;
    flex-direction: column;

}


div#contenido>main>section {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div#contenido>main>section>h1 {
    padding: 1rem;
}



div#contenido>main>section>a>img {
    border: 3px solid black;
}

div#contenido>main>div#avisocookies {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    margin: 0rem 2rem;
    align-self: center;
    text-align: justify;
    position: absolute;
    top: 30rem;
    max-width: 400px;
}

div#contenido>main>div#avisocookies>div {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding: 1rem 0;
    justify-content: space-between;
}

div#contenido>main>div#avisocookies>div>* {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    flex-basis: 45%;
    cursor: pointer;
}

div#contenido>main>hr {
    border: 2px solid black;
    margin: 2rem 0 2rem 0;
}

/*FIN-CUERPO*/







/*NOVEDADES - MAS VENDIDOS  CUERPO */

div#contenido>main>section>div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

div#contenido>main>section>div>picture>img {
    border: 3px solid black;
}

div#contenido>main>section>div>p {
    font-weight: bold;
    font-size: 15px;
}






/*COLECCIONES CUERPO*/


div#contenido>main>section>div.camisetadiv {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    position: relative;

}

div#contenido>main>section#coleccionesS>div.camisetadiv {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

div#contenido>main>section>div>div.overlayC {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

div#contenido>main>section>div>div.overlayC>p.nombreC {
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

div#contenido>main>section>div>h1 {
    padding: 1rem;
}






/*OFERTAS CUERPO*/



div#contenido>main>section>div>div.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

div#contenido>main>section>div>div.overlay>p.ofertas {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

div#contenido>main>section>div>picture>img {
    border: 3px solid black;
}

div#contenido>main>section>div>p {
    font-weight: bold;
    font-size: 15px;
}





/*LOGIN - CUERPO*/

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main>section#cuerpomain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpomain>h1.tituloFormu {
    text-align: left;
    padding: 1rem 1rem 1rem 2rem;
}

main>section#cuerpomain>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

main>section#cuerpomain>div>* {
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

main>section#cuerpomain>div>input {
    border: 1px solid grey;
}


main>section#cuerpomain>div>p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding-left: 0;
}


main>section#cuerpomain>div>p:nth-child(3) {
    color: grey;
    font-weight: 250;
}

main>section#cuerpomain>div>button#iniciar-sesion {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}


main>section#cuerpomain>div>button#crear-cuenta {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}


main>section#cuerpomain>div>a {
    color: black;
    text-align: center;
}







/*CREAR CUENTA - CUERPO*/


main>section#cuerpomain>div>div#ntelefono {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

main>section#cuerpomain>div>div#ntelefono>* {
    padding: 1rem;
}

main>section#cuerpomain>div>div#ntelefono>select {
    background-color: white;
    border: 1px solid black;
}

main>section#cuerpomain>div>div#promociones {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 12px;
}

main>section#cuerpomain>div>div#promociones>label#promocion {
    padding-left: 0.5rem;
    text-align: left;
}

main>section#cuerpomain>div>button#crear-cuenta2 {
    color: white;
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}

main>section#cuerpomain>div>label#label1 {
    color: black;
    padding-left: 0;
    font-size: 14px;
    text-align: left;
}

main>section#cuerpomain>div>label>a {
    font-weight: bold;
    border-bottom: 1px solid black;
}

main>section#cuerpomain>div>label#label2 {
    font-size: 12px;
    padding-top: 0;
    padding-left: 0;
    text-align: left;
}


/*CUERPO CESTA*/

div#contenido>main#mainCesta {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}



div#contenido>main>div.camisetascompradas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

div#contenido>main>div.camisetascompradas>img.camisetasC {
    width: 100%;
    height: auto;
    flex-basis: 40%;
}

div#contenido>main>div.camisetascompradas>div.texto {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    justify-content: space-between;
}


div#contenido>main>div.camisetascompradas>div.texto>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
}


.izquierda {
    flex-basis: 50%;
    border: 1px solid black;
    text-align: center;
}

.derecha {
    flex-basis: 40%;
    border: 1px solid black;
    text-align: center;
}

.borde {
    border: 1px solid black;
    margin: 0.5rem 0 0.5rem 0;
}

.estilohr {

    margin: 0.45rem;
    background-color: black;
    padding: 0.1rem;
    border: none;
}

div#contenido>main>div.camisetascompradas>div.texto>div.titulo>p {
    font-size: 12px;
    font-weight: bold;
    flex-basis: 90%;
    border: none;
}

div#contenido>main>div.camisetascompradas>div.texto>div>div.divhr {
    border: 1px solid black;
    padding: 40rem;
}

div#contenido>main>div.camisetascompradas>div.texto>div.titulo>img {
    height: 20px;
    flex-basis: 10%;
    border: none;
    cursor: pointer;
}

div#contenido>main>div.camisetascompradas>div.texto>div>p.referencia {
    border: none;
    color: grey;
    font-size: 12px;
}

/*FIN CUERPO CESTA*/



/*PIE CESTA*/

footer#footerC {
    display: flex;
    flex-direction: column;
}

footer#footerC>div {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10% 10% 0 0;
    padding: 2rem 0 2rem 0;
}


div#contenido>footer#footerC>div>* {
    font-weight: bold;
    padding: 0 5rem 0 5rem;
}

div#contenido>footer#footerC>div>div#textototal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
}

div#contenido>footer#footerC>div>div#textototal>div#textototal2 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}


div#contenido>footer#footerC>div>div#textototal>div#textototal2>p:nth-child(1) {
    font-size: 20px;
}

div#contenido>footer#footerC>div>div#textototal>div#textototal2>p:nth-child(2) {
    font-size: 10px;
}


div#contenido>footer#footerC>div>div#textototal>div#precio {
    flex-basis: 30%;
    text-align: center;
}

div#contenido>footer#footerC>div>div#textototal>div#precio>p {
    border: 1px solid white;
    text-align: center;
    padding: 0.4rem 0 0.4rem 0;

}


div#contenido>footer#footerC>div>div#textoTotal>div#textoTotal2 {
    display: flex;
    flex-direction: column;

}

div#contenido>footer#footerC>div>div#btn {
    padding-top: 1.5rem;
    flex-basis: 100%;
    align-self: center;

}

div#contenido>footer#footerC>div>div#btn>button {
    background-color: #5CC777;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 0.7rem 1.7rem 0.7rem 1.7rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/*FIN DE PIE CESTA*/




/*COMPRA-CAMISETAS CSS*/


/*CUERPO*/

div#contenido>main#camisetaM {
    display: flex;
    flex-direction: column;
}

div#contenido>main#camisetaM>div#contenedormain {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 1rem 1rem;

}

div#contenido>main#camisetaM>div#contenedormain>div#imagenesM {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 1rem 1rem;

}


div#contenido>main#camisetaM>div#contenedormain>div#imagenesM>img {
    border: 3px solid black;
}

div#contenido>main#camisetaM>div#contenedormain>div#imagenesM>div#tiposcamisetas {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#contenido>main#camisetaM>div#contenedormain>div#imagenesM>div#tiposcamisetas {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#contenido>main#camisetaM>div#contenedormain>div#imagenesM>div#tiposcamisetas>* {
    flex-basis: 18%;
    padding: 0.3rem 0rem 0.3rem 0rem;
    cursor: pointer;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM {
    display: flex;
    flex-direction: column;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>h1 {
    font-size: 20px;
    padding-left: 0.8rem;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 0.8rem;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(1) {
    flex-basis: 100%;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(2) {
    background-color: lightgray;
    color: lightgray;
    border: 1px solid black;
    padding: 0.7rem;
    margin: 0.4rem 0.4rem 0 0;
    cursor: pointer;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(3) {
    background-color: black;
    color: black;
    border: 1px solid black;
    padding: 0.7rem;
    margin: 0.4rem 0.4rem 0 0;
    cursor: pointer;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(4) {
    background-color: white;
    color: white;
    border: 1px solid black;
    padding: 0.7rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 0.8rem;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>* {
    border: 1px solid black;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    margin: 0.4rem 0.4rem 0 0;
    cursor: pointer;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(1) {
    flex-basis: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(3) {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(5) {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>hr {
    border: 2px solid black;
    margin: 2rem 0 2rem 0;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta {
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta>input {
    width: 18%;
    padding: 0.5rem;
    font-size: 18px;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta>button {
    padding: 1rem;
    background-color: #5CC777;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    flex-basis: 70%;
}




div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#descripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: justify;
}

div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#descripcion>p:nth-child(1) {
    flex-basis: 100%;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

/*FIN-CUERPO*/





/*CAMISETAS CUERPO - CSS*/



/*CUERPO*/

.gris {
    color: grey;
    font-size: 15px;
}

.boton {
    background-color: white;
    padding: 0 1.5rem 0 1.5rem;
    border: 1px solid black;
    cursor: pointer;
}

div#contenido>main#camisetasMain {
    display: flex;
    flex-direction: column;
    padding: 0;
}


div#contenido>main>section {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div#contenido>main>section>div#cabeceracamisetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    flex-basis: 100%;
}




div#contenido>main>section>div#filtros {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border: 1px solid black;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    background-color: white;
    padding: 0;
    top: 11.8rem;
    right: 1rem;
}

div#contenido>main>section>div#filtros>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    align-self: flex-end;
    align-items: center;
}

div#contenido>main>section>div#filtros>div:nth-child(1)>p {
    font-weight: bold;
    padding-right: 4rem;
    font-size: 20px;
}

div#contenido>main>section>div#filtros>div:nth-child(1)>img {
    transform: rotate(-45deg);
    width: 30px;
}


div#contenido>main>section>div#filtros>div:nth-child(1)>img {
    transform: rotate(-45deg);
    width: 30px;
    cursor: pointer;
}


div#contenido>main>section>div#filtros>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 1rem;
}

div#contenido>main>section>div#filtros>div:nth-child(2)>* {
    flex-basis: 22%;
    font-weight: bold;
    margin: 0.2rem 0;
}

div#contenido>main>section>div>div#titulo-articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}


div#contenido>main>section>div#filtros>button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    flex-basis: 50%;
    align-self: center;
    border: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

div#contenido>main>section>div>div#titulo-articulos>* {
    flex-basis: 100%;
}

div#contenido>main>section>div>div#titulo-articulos>h1 {
    font-size: 20px;
}


div#contenido>main>section>div.mostrarcamisetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

div#contenido>main>section>div.mostrarcamisetas>img {
    flex-basis: 48%;
    cursor: pointer;
}

div#contenido>main>section>div.mostrarcamisetas>p {
    padding: 1rem 0 1rem 0;
}

div#contenido>main>section>div#botonesinferiores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 0;
}

div#contenido>main>section>div#botonesinferiores>button {
    padding: 0.4rem;
}





/*INFORMACION - POLITICAS CSS*/


div#contenido>main.textoM {
    padding: 0;
}

div#contenido>main.textoM>section {
    padding-left: 2rem;
    padding-right: 2rem;
}

.textoIzquierda {
    text-align: left;
}

h1.textoIzquierda {
    padding: 1rem;
    margin-left: -1rem;
}




/*PREGUNTAS CSS*/


div#contenido>main#preguntasM>section {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    
}

div#contenido>main#preguntasM>section>h1 {
    padding: 1rem 0.5rem 1rem 0rem;
    text-align: center;
}


div#contenido>main#preguntasM>section>div {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
    flex-basis: 100%;
}

div#contenido>main#preguntasM>section>div>p.pregunta {
    font-weight: bold;
    margin-bottom: 1rem;
}

div#contenido>main#preguntasM>section>div>p:nth-child(2) {
    font-weight: 250;
}

div#contenido>main#preguntasM>hr {
    border: 2px solid black;
    margin-top: 2rem;
}




/*OPINIONES*/

div#contenido>main#mainO>section {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

div#contenido>main#mainO>section>h1 {
    padding: 1rem 1rem 2rem 1rem;
}

div#contenido>main#mainO>section>div.opinion {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    text-align: left;
    border: 3px solid black;
    border-radius: 30px;
}

div#contenido>main#mainO>section>div.opinion>p:nth-child(2) {
    font-weight: 250;
}


div#contenido>main#mainO>section>div.opinion>p#perfilopinion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#contenido>main#mainO>section>div.opinion>p>img {
    border-radius: 100%;
    margin-right: 0.5rem;
}




/*PIE*/
div#contenido>footer {
    display: flex;
    flex-direction: column;

}

div#contenido>footer>div#informacion {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div#contenido>footer>div#informacion>* {
    padding: 1rem;
}


div#contenido>footer>div#desplegables {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

div#contenido>footer>div#desplegables>div {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid lightgray;
    justify-content: space-between;
}

div#contenido>footer>div#desplegables>div#pagos>img#flechapago {
    cursor: pointer;
}

div#contenido>footer>div#desplegables>div#metodospagos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: space-between;
}

div#contenido>footer>div#desplegables>div#metodospagos>* {
    flex-basis: 15%;
    margin: 0.7rem 1.05rem 0.7rem 1.05rem;
}



div#contenido>footer>div#desplegables>div#contacto>img#flechacontacto {
    cursor: pointer;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>* {
    padding: 1rem 0.5rem 1rem 0.2rem;
    border: 1px solid black;
}


div#contenido>footer>div#desplegables>div#formulariocontacto>form>input:nth-child(1) {
    width: 48%;

}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>input:nth-child(2) {
    width: 48%;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>input:nth-child(3) {
    flex-basis: 100%;
    margin-top: 1rem;
}


div#contenido>footer>div#desplegables>div#formulariocontacto>form>div#telefono {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    border: none;
    padding-right: 0;
    padding-left: 0;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>div#telefono>* {
    padding: 1rem 1rem 1rem 0.2rem;
    border: 1px solid black;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>div#telefono>select {
    background-color: white;
    flex-basis: 35%;
}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>div#telefono>input {
    background-color: white;
    border: 1px solid black;
    flex-basis: 60%;

}

div#contenido>footer>div#desplegables>div#formulariocontacto>form>textarea {
    flex-basis: 100%;
    padding-bottom: 5rem;
}


div#contenido>footer>div#desplegables>div#formulariocontacto>form>button {
    background-color: black;
    color: white;
    flex-basis: 100%;
    font-weight: bold;
    margin-top: 1rem;
}







div#contenido>footer>div#caja-negra {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

div#contenido>footer>div#caja-negra>div#redes-div {
    display: flex;
    flex-direction: column;
}


div#contenido>footer>div#caja-negra>div#redes-div>p {
    padding: 1rem 1rem 0.5rem 1rem;
}

div#contenido>footer>div#caja-negra>div#redes-div>div#redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

div#contenido>footer>div#caja-negra>div#redes-div>div#redes>img {
    filter: brightness(0) invert(1);
}


div#contenido>footer>div#caja-negra hr {
    border: 1px solid white;
    padding: 0;
    margin-top: 0.5rem;
}

div#contenido>footer>div#caja-negra>div#politicas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

div#contenido>footer>div#caja-negra>div#politicas>a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.3rem 0 0.3rem 0;
    flex-basis: 50%;

}

div#contenido>footer>div#caja-negra>div#idioma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

div#contenido>footer>div#caja-negra>div#idioma>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#contenido>footer>div#caja-negra>div#idioma>div>img {
    filter: brightness(0) invert(1);
}



/*FIN-PIE*/


@media (min-width:720px) {

    div#contenido>footer>div#informacion {
        flex-wrap: wrap;
        flex-direction: row;
    }

    div#contenido>footer>div#informacion>* {
        flex-basis: 50%;
    }


    div#contenido>footer>div#desplegables>div#metodospagos {
        flex-wrap: nowrap;
    }

    div#contenido>footer>div#desplegables>div#metodospagos>* {
        margin: 0.7rem 1.2rem 0.7rem 1.2rem;
    }

    div#contenido>header#cabecera>nav#buscador {
        align-self: center;
    }

    div#contenido>header#cabecera>nav#buscador>img#lupa {
        position: relative;
        left: 2rem;
        top: 0;

    }

    div#contenido>header#cabecera>nav#buscador>input {
        padding: 0.5rem 10rem 0.5rem 10rem;
    }



    /*ADAPTACION NOVEDADES*/


    div#contenido>main>section:not(div#contenido>main>section#cuerpomain):not(div#contenido>main>section#camisetas) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    div#contenido>main>section>h1 {
        flex-basis: 100%;
    }

    div#contenido>main>section>div.div-novedades {
        flex-basis: 50%;
    }



    /*ADAPTACION COLECCIONES - OFERTAS*/
    div#contenido>main>section>div.camisetadiv {
        flex-basis: 48%;
    }

    div#contenido>main>section>div>div.overlayC {
        top: 55%;
    }

    div#contenido>main>section>div>div.overlayC>p.nombreC {
        font-size: 35px;
    }


    /*ADAPTACION MAS VENDIDOS*/

    div#contenido>main>section>div {
        flex-basis: 48%;
    }

    /*ADAPTACION COMPRA CAMISETAS*/


    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores {
        align-items: center;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas {
        align-items: center;
    }


    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(1) {
        flex-basis: 0%;
        font-size: 25px;
        padding-right: 1rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(2) {
        padding: 1rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(3) {
        padding: 1rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(4) {
        padding: 1rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(1) {
        flex-basis: 0%;
        font-size: 25px;
        padding-right: 1.4rem;

    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(2) {
        padding: 0.5rem 0.7rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(3) {
        padding: 0.5rem 0.6rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(4) {
        padding: 0.5rem 0.7rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(5) {
        padding: 0.5rem 0.4rem;
    }

    /*ADAPTACION OPINIONES*/

    div#contenido>main#mainO>section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div#contenido>main#mainO>section>h1 {
        flex-basis: 100%;
    }

    div#contenido>main#mainO>section>div.opinion {
        flex-basis: 48%;
    }

      /*ADAPTACION CESTA*/
      div#contenido>main#mainCesta {
        align-self: center;
        max-width: 700px;
    }

   

}

@media (min-width:1124px) {

    /*ADAPTACION MAIN*/
    #menuEscritorio {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        font-size: 20px;
    }

    div#contenido>header#cabecera>nav#cabecera-principal>img:nth-child(1) {
       display: none;
    }
    div#contenido>header#cabecera>nav#buscador {
        display: none;
    }

    div#contenido>header#cabecera>nav#cabecera-principal>nav#buscadorE {
        display: flex;
    }

   

    div#contenido>header#cabecera>nav#cabecera-principal>img#logo{
        width: 50px;
    }

    div#contenido>header#cabecera>nav#cabecera-principal>a>img#userI{
        width: 35px;
    }

    div#contenido>header#cabecera>nav#cabecera-principal>a>img#cestaI{
        width: 35px;
    }

    div#contenido>header#cabecera>nav#cabecera-principal>a>h1#titulo{
       font-size: 40px;
    }



    /*Aparecen imagenes para escritorio y se ponen de 2 en 2*/
    .oculto{
        display: block;
    }

    div#contenido>main>section {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 15rem;
     }

    div#contenido>main>section>h1 {
        flex-basis: 100%;
        font-size: 30px;
        padding: 3rem 0;
    }
    

    div#contenido>main>section>a {
       flex-basis: 48%;
    }

    div#contenido>footer>div#caja-negra>div#redes-div>div#redes>img {
        width: 40px;
    }

    div#contenido>footer>div#caja-negra>div#politicas {
        font-size: 20px;
    }

    div#contenido>footer>div#desplegables>div#formulariocontacto>form {
      padding: 3rem 10rem;
    }


  

    /*ADAPTACION CAMISETAS*/
    div#contenido>main>section>div.mostrarcamisetas {
      flex-basis: 48%;
    }    


    div#contenido>main>section>div#filtros {
        top: 19rem;
        right: 6rem;
    }

    div#contenido>main>section>div#botonesinferiores>button {
        padding: 0.8rem 1.5rem;
    }

    /*ADAPTACION COLECCIONES Y OFERTAS*/


    div#contenido>main>section>div.camisetadiv {
        flex-basis: 30%;
    }

    /*ADAPTACION MAS VENDIDOS*/
    div#contenido>main>section>div {
        flex-basis: 30%;
    }

    /*ADAPTACION NOVEDADES*/
    div#contenido>main>section>div.div-novedades {
        flex-basis: 30%;
    }

    /*ADAPTACION OPINIONES*/
    div#contenido>main#mainO>section {
        padding: 5rem;
    }

    /*ADAPTACION POLITICAS SOBRENOSOTROS E INFORMACION*/
    h1.textoIzquierda {
        margin-left: 0rem;
    }


    /*ADAPTACION COMPRA CAMISETAS*/


    /*ADAPTO CONTENEDOR DE IMAGENES*/
   
    div#contenido>main#camisetaM>div#contenedormain {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-right: 4rem;
        padding-left: 4rem;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#imagenesM {
        flex-basis: 40%;
        padding: 5rem;
    }


    div#contenido>main#camisetaM>div#contenedormain>div#imagenesM>img {
        width: 700px;
    }



    /*ADAPTO CONTENEDOR DE ATRIBUTOS*/

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM {
        flex-basis: 40%;
        padding: 5rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>h1 {
        font-size: 35px;
    }

    /*ADAPTO CONTENEDOR DE COLORES*/

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores {
        align-items: center;
        padding-top: 3rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(1) {
       font-size: 35px;
       flex-basis: 10%;
       padding-right: 1rem;
       
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(2) {
        padding: 1.8rem;
        margin: 0.8rem 0.8rem 0 0;

    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(3) {
        padding: 1.8rem;
        margin: 0.8rem 0.8rem 0 0;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#colores>p:nth-child(4) {
        padding: 1.8rem;
        margin: 0.8rem 0.8rem 0 0;
    }

    /*ADAPTO CONTENEDOR DE TALLAS*/

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas {
        align-items: center;
        padding-top: 3rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>* {
        padding: 0.8rem 1.2rem;
        margin: 0.8rem 0.8rem 0 0;
        font-size: 30px;
    }
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(1) {
        font-size: 35px;
       flex-basis: 10%;
       padding-right: 1.8rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(2) {
        padding: 0.8rem 1.2rem;
    }
    
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(3) {
        padding: 0.8rem 1rem;
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(4) {
        padding: 0.8rem 1.2rem;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#tallas>p:nth-child(5) {
        padding: 0.8rem;
    }

    .compraOculto{
        display: none;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta {
        padding: 4rem 1rem;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta>input {
        width: 18%;
        padding: 0.5rem;
        font-size: 18px;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#añadircesta>button {
        padding: 1.5rem;
        font-size: 30px;
        border-radius: 40px;
        
    }

    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#descripcion>p:nth-child(1) {
        font-size: 30px;
    }
    
    div#contenido>main#camisetaM>div#contenedormain>div#atributosM>div#descripcion>p:nth-child(2) {
        font-size: 20px;
        padding-top: 1rem;
    }
    
    /*ADAPTACION CESTA*/

    div#contenido>main#mainCesta {
        align-self: center;
        max-width: 1000px;
    }
    
div#contenido>main>div.camisetascompradas {
    border: 2px solid black;
    padding: 1.5rem;
    border-radius: 40px;
    margin: 0.5rem 0;
}

div#contenido>main>div.camisetascompradas:nth-child(1) {
    margin-top: 4rem;
}


div#contenido>main>div.camisetascompradas>div.texto {
    font-size: 20px;
}

.izquierda {
    flex-basis: 50%;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}

.derecha {
    flex-basis: 40%;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}

.borde {
    border: 1px solid black;
    margin: 0.5rem 0 0.5rem 0;
}

.estilohr {
    margin: 0.45rem;
    padding: 0.3rem;
}

div#contenido>main>div.camisetascompradas>div.texto>div.titulo>p {
    font-size: 27px;
}

div#contenido>main>div.camisetascompradas>div.texto>div.titulo>img {
    height: 30px;

}
div#contenido>main>div.camisetascompradas>div.texto>div>p.referencia {
    font-size: 20px;
}

/*FIN CUERPO CESTA*/


/*PIE CESTA*/
div#contenido>footer#footerC {
  padding: 0rem 29rem;
  margin-bottom: 2rem;
}

div#contenido>footer#footerC>div {
    border-radius: 40px;
  }
  

div#contenido>footer#footerC>div>div#textototal>div#textototal2 {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-left: 12rem;
 
}


div#contenido>footer#footerC>div>div#textototal>div#textototal2>p:nth-child(1) {
    font-size: 25px;
}

div#contenido>footer#footerC>div>div#textototal>div#textototal2>p:nth-child(2) {
    font-size: 15px;
}


div#contenido>footer#footerC>div>div#textototal>div#precio{
    flex-basis: 20%;
    margin-right: 12rem;

}


div#contenido>footer#footerC>div>div#textototal>div#precio>p {
    border: 1px solid white;
    text-align: center;
    padding: 0.4rem 0 0.4rem 0;
    font-size: 20px;

}

div#contenido>footer#footerC>div>div#btn>button {
    background-color: #5CC777;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 1.5rem 6rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}


}