* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div#contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*CABECERA*/
div#contenido>header#cabecera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#contenido>header#cabecera>nav#cabecera-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


div#contenido>header#cabecera>nav#cabecera-principal>h1#titulo{
    color: red;
}

div#contenido>header#cabecera>nav#buscador{
    display: flex;
    padding: 0 1rem 0 1rem;
    
}

div#contenido>header#cabecera>nav#buscador>svg#lupa{
    position: absolute;
    left: 2rem;
    top: 5.6rem;
    
}

div#contenido>header#cabecera>nav#buscador>input{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 100%;
    padding: 0.5rem 0 0.5rem 0;
}

/*FIN-CABECERA*/









/*CUERPO*/

div#contenido>main>section{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem;
}

div#contenido>main>section>h1{
    padding: 1rem 0.5rem 1rem 0rem;
}


div#contenido>main>section>div{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
}

div#contenido>main>section>div>p.pregunta{
    font-weight: bold;
}

div#contenido>main>hr{
    border: 2px solid black;
    margin-top: 2rem;
}
/*FIN-CUERPO*/


/*PIE*/
div#contenido>footer{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

div#contenido>footer>div#informacion{
    display: flex;
    flex-direction: column;
    text-align: center;
}

div#contenido>footer>div#informacion>*{
    padding: 1rem;
}


div#contenido>footer>div#desplegables{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

div#contenido>footer>div#desplegables>div{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid lightgray;
    justify-content: space-between;
}

div#contenido>footer>div#caja-negra{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

div#contenido>footer>div#caja-negra>div#redes-div{
    display: flex;
    flex-direction: column;
}

div#contenido>footer>div#caja-negra>div#redes-div>p{
    padding: 1rem 1rem 0.5rem 1rem;
}

div#contenido>footer>div#caja-negra>div#redes-div>div#redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem;
}

div#contenido>footer>div#caja-negra hr{
    border: 1px solid white;
    padding: 0;
    margin-top: 0.5rem;
}

div#contenido>footer>div#caja-negra>div#politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
div#contenido>footer>div#caja-negra>div#politicas>a{
    color: white;
    text-decoration: none;
    padding: 0.3rem 0 0.3rem 0;
}

div#contenido>footer>div#caja-negra>div#idioma{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

div#contenido>footer>div#caja-negra>div#idioma>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*FIN-PIE*/