/* General styles for better readability */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Dropdown container styles */
  .dropdown-button {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin: 1rem auto;
    display: block;
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    display: none;
    overflow: auto;
    max-height: 200px;
    z-index: 1;
  }
  
  /* Dropdown menu items styles */
  .dropdown-item {
    padding: 0.5rem 1rem;
    color: #333;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    user-select: none;
    display: flex;
    align-items: center;
  }
  
  .dropdown-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .dropdown-item:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu:focus,
  .dropdown-item:focus,
  .dropdown-button:focus {
    outline: none;
  }
  
  .dropdown-button:focus + .dropdown-menu,
  #paymentMethods-trigger:checked ~ .dropdown-menu {
    display: block;
  }